<!DOCTYPE html>
<html>
    

    <head>
        <title>Minx Fashion | Store</title>
        <meta name="description" content="This is the description">
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css" />
        
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js" defer></script>
    </head>
    <body>
        <div>
            <% if(error&&error.length>0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success&&success.length>0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="brand-name band-name-large">Minx Fashion</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">Clothing</h2>
            <div class="shop-items row">
                <% items.clothing.forEach(function(item){ %>
                    
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">INR <%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Footwear</h2>
            <div class="shop-items row">
                <% items.footwear.forEach(function(item){ %>
                    
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">INR <%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
               
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Accessories</h2>
            <div class="shop-items row">
                <% items.accessories.forEach(function(item){ %>
                    
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">INR <%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">INR 0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="brand-name">Minx Fashion</h3>
            </div>
        </footer>
    </body>
</html>